{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
   <div class="container">
      <form method="post" class="auth">
         {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
         {% endif %}

         {% if app.user %}
            <div class="mb-3">
               Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
         {% endif %}
         <h1 class="h3">Accès privé</h1>

         <div class="form-body">
            <div class="form-floating mb-3">
               <input type="email" value="{{ last_username }}" name="email" class="form-control" id="floatingInput"
                      placeholder=" " required>
               <label for="floatingInput">Adresse email</label>
            </div>
            <div class="form-floating">
               <input type="password" class="form-control" id="floatingPassword" name="password" placeholder=" "
                      required>
               <label for="floatingPassword">Mot de passe</label>
            </div>
         </div>

         <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
         >
         {#
         Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
         See https://symfony.com/doc/current/security/remember_me.html

         <div class="checkbox mb-3">
             <label>
                 <input type="checkbox" name="_remember_me"> Remember me
             </label>
         </div>
         #}

         <button class="btn btn-sm btn-primary" type="submit">
            Me connecter
         </button>
      </form>
   </div>


{% endblock %}

{% block stylesheets %}
   {{ parent() }}
   {{ encore_entry_link_tags('login') }}
{% endblock %}
