<form class="d-inline" method="post" action="{{ path('images_delete', {'id': image.id}) }}"
      onsubmit="return confirm('Confirmez-vous la suppression de cette image ? Cette action est irréversible !');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
    <button class="btn btn-sm no-shadow-danger {{ class }}" title="Supprimer l'image"><i class="fas fa-trash-alt"></i></button>
</form>
