{{ form_start(form) }}
<div class="edit">
   <div class="mt-4 text-end">
      <a class="btn btn-sm btn-outline-danger" href="{{ path('images_index') }}">Annuler</a>
      <button class="btn btn-sm btn-outline-primary">{{ button_label|default('Créer l\'image') }}</button>
   </div>
   <div class="row my-4">
      {{ form_label(form.name, null, {'label': 'Nom','label_attr': {'class': 'label col-12 col-md-2'} }) }}
      {{ form_widget(form.name, {'attr': {'class': 'form-inline col-12 col-md-4 py-2 p-md-auto'} }) }}
      <small class="error-form offset-md-2">{{ form_errors(form.name) }}</small>
   </div>
   <div class="d-none">
      {{ form_label(form.image) }}
      {{ form_widget(form.image) }}
      <small class="error-form offset-md-2">{{ form_errors(form.image) }}</small>
   </div>
   <div class="row my-4">
      {{ form_label(form.imageFile, null, {'label': 'Icône','label_attr': {'class': 'label col-12 col-md-2'} }) }}
      {{ form_widget(form.imageFile, {'attr': {'class': 'form-inline col-12 p-md-auto'} }) }}
      <small class="error-form offset-md-2">{{ form_errors(form.imageFile) }}</small>
   </div>
</div>
{{ form_end(form) }}
