{% extends 'admin/admin.html.twig' %}

{% block title 'Editer une image' %}
{% set class = 'image' %}

{% block content %}
    <h1>Editer une image</h1>

    {{ include('admin/images/_form.html.twig', {'button_label': 'Mettre à jour l\'image'}) }}

{#    <a href="{{ path('images_index') }}">back to list</a>#}

    {{ include('admin/images/_delete_form.html.twig') }}
{% endblock %}
