{% extends 'admin/admin.html.twig' %}

{% block title 'Imagethèque' %}
{% set class = 'image' %}

{% block content %}
   <h1>Imagethèque</h1>

   <div class="my-4 text-end">
      <a class="btn btn-sm btn-outline-primary" href="{{ path('images_new') }}">Ajouter une image</a>
   </div>

   {{ form_start(form) }}
   <div class="row my-3 search">
      <div class="input-group mb-3">
         {{ form_row(form.searchField) }}
         <button class="btn btn-sm btn-search" type="submit"><i class="fa fa-search"></i></button>
         {% if search %}
            <a class="btn btn-sm btn-clear" href="{{ path('images_index') }}" title="supprimer le filtre"><i
                   class="fas fa-broom"></i></a>
         {% endif %}
      </div>
      {% if search %}
         <p>{{ imagesList |length }} résultat{{ imagesList |length > 1 ? 's' : '' }}
            trouvé{{ imagesList |length > 1 ? 's' : '' }} </p>
      {% endif %}
   </div>
   {{ form_end(form) }}

   <table class="table">
      <thead>
      <tr class="d-md-table-row d-none">
         <th>Image</th>
         <th>Nom</th>
         <th>Ajouté le</th>
         <th>actions</th>
      </tr>
      </thead>
      <tbody>
      {% for image in imagesList %}
         <tr class="d-flex d-md-table-row flex-column mb-2 mb-md-auto tr-border">
            <td>
               <p class="d-md-none d-inline-block w-25 fw-bold">Image</p>
               <img class="img-preview" src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{ image.name }}"/>
            </td>
            <td>
               <p class="d-md-none d-inline-block w-25 fw-bold">Nom</p>
               {{ image.name }}
            </td>
            <td>
               <p class="d-md-none d-inline-block w-25 fw-bold">Ajouté le</p>
               {{ image.updatedAt ? image.updatedAt|date('d-m-Y H:i') : '' }}
            </td>
            <td>
               <a class="btn btn-sm no-shadow" title="Editer l'image"
                  href="{{ path('images_edit', {'id': image.id}) }}">
                  <i class="fas fa-pen-fancy"></i>
               </a>
               {% include 'admin/images/_delete_form.html.twig' with {'class': 'no-border'} %}
            </td>
         </tr>
      {% else %}
         <tr>
            <td colspan="4">no records found</td>
         </tr>
      {% endfor %}
      </tbody>
   </table>
   <div class="navigation">
      {{ knp_pagination_render(imagesList) }}
   </div>
{% endblock %}
