{% extends 'admin/admin.html.twig' %}

{% block title 'Ajouter une image' %}
{% set class = 'image' %}

{% block content %}
    <div class="container">
        <h1>Ajouter une image</h1>

        {{ include('admin/images/_form.html.twig') }}

    </div>
{% endblock %}
