{% extends 'admin/admin.html.twig' %}

{% block title 'Détail image' %}
{% set class = 'image' %}

{% block content %}
   <h1>Détail image</h1>

   <div class="mt-4 text-end">
      <a class="btn btn-sm btn-outline-danger" href="{{ path('images_index') }}">Annuler</a>
      <a class="btn btn-sm btn-outline-primary" href="{{ path('images_edit', {'id': image.id}) }}">Editer l'image</a>
   </div>

   <div class="show my-5">
      <div class="row my-2">
         <p class="label col-3">Nom</p>
         <p class="data-user col-9">{{ image.name }}</p>
      </div>
      <div class="row my-2">
         <p class="label col-3">Date d'ajout</p>
         <p class="data-user col-9">{{ image.updatedAt ? image.updatedAt|date('Y-m-d H:i') : '' }}</p>
      </div>
      <div class="row my-2">
         <p class="data-user offset-3 col-9 show">
            <img class="img-show" src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{ image.name }}"/>
         </p>
      </div>

      <div class="row mt-5">
         {{ include('admin/images/_delete_form.html.twig') }}
      </div>
   </div>

{% endblock %}
