{% extends 'admin/admin.html.twig' %}

{% block title 'Editer un réseau social' %}
{% set class = 'reseau' %}

{% block content %}
    <h1>Editer un réseau social</h1>

    {{ include('admin/social/_form.html.twig', {'button_label': 'Mettre la jour le réseau'}) }}

{% endblock %}
