{% extends 'admin/admin.html.twig' %}

{% block title 'Liste des réseaux' %}
{% set class = 'reseau' %}

{% block content %}
   <h1>Réseaux sociaux</h1>

   <div class="my-4 text-end">
      <a class="btn btn-sm btn-outline-primary" href="{{ path('social_new') }}">Ajouter un réseau</a>
   </div>
   <table class="table">
      <thead>
      <tr>
         <th>Icône</th>
         <th>Nom</th>
         <th>lien</th>
         <th>actions</th>
      </tr>
      </thead>
      <tbody>
      {% for social in socials %}
         <tr>
            <td><img class="img-preview" src="{{ vich_uploader_asset(social.image, 'imageFile') }}"
                     alt="{{ social.name }}"></td>
            <td>{{ social.name }}</td>
            <td>
               <p class="d-md-none d-inline-block w-25 fw-bold">Lien</p>
               {% if social.link %}
                  <span>
                      <i class="fas fa-external-link-alt"></i>
                     <a class="external-link" href="https://{{ social.link }}" target="_blank"
                        title="{{ social.name }}">
                     {{ social.link }}
                     </a>
                  </span>
               {% else %} aucun lien disponible {% endif %}
            </td>
            <td class="action">
               <a class="btn btn-sm no-shadow"
                  href="{{ path('social_edit', {'id': social.id}) }}" title="Editer le réseau">
                  <i class="fas fa-pen-fancy"></i>
               </a>
               {% include 'admin/social/_delete_form.html.twig' with {'class': 'no-border'} %}

            </td>
         </tr>
      {% else %}
         <tr>
            <td colspan="4">Aucun enregistrement trouvé</td>
         </tr>
      {% endfor %}
      </tbody>
   </table>

{% endblock %}
