{% extends 'admin/admin.html.twig' %}

{% block title 'Ajouter un réseau social' %}
{% set class = 'reseau' %}

{% block content %}
    <h1>Créer un réseau social</h1>

    {{ include('admin/social/_form.html.twig') }}

{% endblock %}
