{% extends 'base.html.twig' %}

{% block title %}Réseaux sociaux{% endblock %}

{% block body %}
    <h1>Réseau social</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ social.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ social.name }}</td>
        </tr>
        <tr>
            <th>Icon</th>
            <td>{{ social.icon }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('social_index') }}">back to list</a>

    <a href="{{ path('technology_edit', {'id': technology.id}) }}">edit</a>

    {{ include('admin/technology/_delete_form.html.twig') }}
{% endblock %}
