{% extends 'base.html.twig' %}

{% block title 'Contact' %}

{% block body %}
   <div class="wrapper-main">
      <div class="contact">
         <div class="image">
            <img src="{{ asset('images/image-contact.png') }}" alt="image abstraite du formulaire">
         </div>
         <div class="form-contact">
            <h1 class="title">Contact</h1>
            <form action="{{ path('contact') }}" method="post" class="form">
               {{ form_start(form) }}
               <div class="form-body">
                  <div class="form-group">
                     <div class="form-floating">
                        {{ form_widget(form.firstname, {
                           'attr': {'class': 'form-control required', 'id': 'floatingFirstname', 'placeholder': ' ', 'resuired': 'true'}
                        }) }}
                        {{ form_label(form.firstname, null, {'label': 'Nom'}) }}
                     </div>
                     <div class="form-floating">
                        {{ form_widget(form.lastname, {
                           'attr': {'class': 'form-control required', 'id': 'floatingLastname', 'placeholder': ' ', 'resuired': 'true'}
                        }) }}
                        {{ form_label(form.lastname, null, {'label': 'Prénom'}) }}
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="form-floating">
                        {{ form_widget(form.email, {
                           'attr': {'class': 'form-control required', 'id': 'floatingEmail', 'placeholder': ' ', 'resuired': 'true'}
                        }) }}
                        {{ form_label(form.email, null, {'label': 'Email'}) }}
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="form-floating">
                        {{ form_widget(form.message, {
                           'attr': {'class': 'form-control required', 'id': 'floatingMessage', 'placeholder': ' ', 'resuired': 'true'}
                        }) }}
                        {{ form_label(form.message, null, {'label': 'Message'}) }}
                     </div>
                  </div>
                  <div class="form-group action">
                     <button class="btn btn-primary">
                        Envoyer
                     </button>
                  </div>
               </div>
               {{ form_end(form) }}
            </form>
         </div>
      </div>
   </div>
{% endblock %}

{% block stylesheets %}
   {{ parent() }}
   {{ encore_entry_link_tags('contact') }}
{% endblock %}
