{% extends 'base.html.twig' %}

{% block title 'Accueil' %}

{% block body %}
   <header class="header">
      <div class="header-title">
         <h3 class="welcome">Bonjour, je suis</h3>
         <h1 class="fullName">{{ information.firstname }} {{ information.lastname }}</h1>
         <h5 class="job my-2">{{ information.job }}</h5>
         <p class="mt-5">
            <a href="#projects" class="btn btn-primary">Voir mes réalisations</a>
         </p>
      </div>
      <img src="{{ asset('images/test.svg') }}"
           alt="{{ information.lastname }}{{ information.firstname }}">
   </header>

   {% include 'pages/information.html.twig' %}
   {% include 'pages/skills.html.twig' %}
   {% include 'pages/project.html.twig' %}
{% endblock %}
