<div class="information">
   <img src="{{ asset('images/bg-info.svg') }}" alt="background angle" class="bg bg-top-right">
   <img src="{{ asset('images/bg-info.svg') }}" alt="background angle" class="bg bg-bottom-left">
   <div class="presentation">
      <p>{{ information.description | nl2br }}</p>
      <a class="btn btn-primary mt-3" href="#">Me contacter</a>
   </div>
</div>
