{% extends 'base.html.twig' %}

{% block title 'Mes réalisations' %}

{% block body %}

   <div class="wrapper-main">
      <div class="projects-list">
         <h1>Réalisations</h1>
         <div class="project-main">
            {% for project in projects %}
               <div class="project-content">
                  <div class="project-content-card">
                     <div class="card-project-header">
                        {% for image in project.picture %}
                           {% if image.isHighlight %}
                              <img src="{{ vich_uploader_asset(image, 'imageFile') }}" class=""
                                   alt="{{ project.link|default(project.name) }}">
                           {% endif %}
                        {% endfor %}
                     </div>
                     <div class="card-project-main">
                        <h5 class="card-project-title">{{ project.name }}</h5>
                        <div class="card-project-tech">
                           {% for tech in project.technology %}
                              {% if loop.index != 1 %} - {% endif %}
                              {{ tech.name }}

                           {% endfor %}
                        </div>
                        <div
                            class="card-project-body">
                           {{ project.shortDescription | length > 0 ? project.shortDescription : 'Aucune description' }}
                        </div>
                        <div class="card-project-footer">
                           <a class="btn btn-sm btn-outline-primary"
                              href="{{ path('project_detail', { 'slug': project.slug | lower }) }}">En
                              savoir plus</a>
                        </div>
                     </div>
                  </div>
               </div>
            {% endfor %}
         </div>
      </div>
   </div>

{% endblock %}

{% block stylesheets %}
   {{ parent() }}
   {{ encore_entry_link_tags('project-list') }}
{% endblock %}
