{% extends 'base.html.twig' %}

{% block title project.name %}

{% block body %}
   <div class="wrapper-main">
      <div class="wrapper-project">
         <h1>{{ project.name }}</h1>
         <div class="wrapper-content-project">
            <div class="image-container">
               {% for image in project.picture %}
                  <button type="button" class="btn-modal {{ image.isHighlight ? 'highlight' : '' }}"
                          data-bs-toggle="modal" data-bs-target="#modal-slide">
                     <img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{ project.name }}">
                  </button>
               {% endfor %}
            </div>
            <div class="wc-section">
               <div class="wc-info">
                  <h3>Informations générales</h3>
                  <table>
                     <tr>
                        <th>Développement</th>
                        <td>
                           {{ project.createdAt | date("m/Y") }}
                        </td>
                     </tr>
                     <tr>
                        <th>Cadre</th>
                        <td>{{ project.frame }}</td>
                     </tr>
                     <tr>
                        <th>Technologies</th>
                        <td>
                           {% for tech in project.technology %}
                              <span>
                                 <img src="{{ vich_uploader_asset(tech.image, 'imageFile') }}"
                                      class="tech"
                                      alt="{{ project.name }}">
                              </span>
                           {% endfor %}
                        </td>
                     </tr>
                  </table>

               </div>
               <div class="wc-resume">
                  <h3>Résumé</h3>
                  <p>{{ project.description | raw | nl2br }}</p>
                  {% if project.link != null %}
                     <div class="wc-footer">
                        <a class="btn btn-primary" href="https://{{ project.link }}" target="_blank"
                           title="{{ project.name }}">
                           Visiter le site
                        </a>
                     </div>
                  {% endif %}
               </div>
            </div>
         </div>
      </div>
   </div>


   <div class="modal fade" id="modal-slide" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
            <div id="carouselProject" class="carousel slide" data-bs-ride="carousel">
               <div class="carousel-inner">
                  {% for image in project.picture %}
                     <div class="carousel-item {{ loop.index == 1 ? 'active' : '' }}">
                        <img src="{{ vich_uploader_asset(image, 'imageFile') }}"
                             class="{{ image.isHighlight ? 'highlight' : 'secondary-img' }} d-block w-100"
                             alt="{{ project.name }}">
                     </div>
                  {% endfor %}
               </div>
               <button class="carousel-control-prev" type="button" data-bs-target="#carouselProject"
                       data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
               </button>
               <button class="carousel-control-next" type="button" data-bs-target="#carouselProject"
                       data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
               </button>
            </div>
         </div>
      </div>
   </div>

{% endblock %}

{% block stylesheets %}
   {{ parent() }}
   {{ encore_entry_link_tags('project') }}
{% endblock %}
