<section class="section-realisation" id="projects">
   <div class="wrapper">
      {% for project in projects %}
         <a class="link-project" href="{{ path('project_detail', { 'slug': project.slug | lower }) }}"
            title="{{ project.name }}">
            <div class="card-realisation card-{{ loop.index }}">
               {% for image in project.picture %}
                  {% if image.isHighlight %}
                     <img src="{{ vich_uploader_asset(image, 'imageFile') }}" class=""
                          alt="{{ project.link|default(project.name) }}">
                  {% endif %}
               {% endfor %}
               <div class="hover-effect">
                  <div class="hover-effect-body">
                     <h5 class="card-title">{{ project.name }}</h5>
                  </div>
               </div>
            </div>
         </a>
      {% endfor %}
   </div>
   <div class="cta-project">
      <a class="btn btn-outline-primary" href="{{ path('project_list') }}">Toutes mes réalisations</a>
   </div>
</section>
