<div class="skills" id="skills">
   {% for category in categories %}
      <div class="card card-category">

         <div class="card-header-category">
            {% for tech in technologies %}
               {% if tech.category.name == category.name %}
                  <img src="{{ vich_uploader_asset(tech.image, 'imageFile') }}" alt="{{ tech.image.name }}"
                       title="{{ tech.image.name }}">
               {% endif %}
            {% endfor %}
         </div>
         <div class="card-title-category">
            <h5>{{ category.name }}</h5>
         </div>
         <div class="card-text-category">
            {{ category.description }}
         </div>

      </div>
   {% endfor %}
</div>
