<form method="post" action="{{ path('information_delete', {'id': information.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ information.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer la photo</button>
</form>
