{{ form_start(form) }}
<div class="edit">
   <div class="mt-4 text-end">
      <a class="btn btn-sm btn-outline-danger" href="{{ path('information_index') }}">Annuler</a>
      <button class="btn btn-sm btn-outline-primary">{{ button_label|default('Enregistrer') }}</button>
   </div>
   <div class="row my-4">
      {{ form_label(form.lastname, null, {'label': 'Nom','label_attr': {'class': 'label col-12 col-md-2'} }) }}
      {{ form_widget(form.lastname, {'attr': {'class': 'form-inline col-12 col-md-10 p-1'} }) }}
      <small class="error-form offset-md-2">{{ form_errors(form.lastname) }}</small>
   </div>
   <div class="row my-4">
      {{ form_label(form.firstname, null, {'label': 'Prénom','label_attr': {'class': 'label col-12 col-md-2'} }) }}
      {{ form_widget(form.firstname, {'attr': {'class': 'form-inline col-12 col-md-10 p-1'} }) }}
      <small class="error-form offset-md-2">{{ form_errors(form.firstname) }}</small>
   </div>
   <div class="row my-4">
      {{ form_label(form.phone, null, {'label': 'Téléphone', 'label_attr': {'class': 'label col-12 col-md-2 no-required'} }) }}
      {{ form_widget(form.phone, {'attr': {'class': 'form-inline col-12 col-md-10 p-1'} }) }}
      <small class="help-form offset-md-2">{{ form_help(form.phone) }}</small>
      <small class="error-form offset-md-2">{{ form_errors(form.phone) }}</small>
   </div>
   <div class="row my-4">
      {{ form_label(form.email, null, {'label': 'Email','label_attr': {'class': 'label col-12 col-md-2'} }) }}
      {{ form_widget(form.email, {'attr': {'class': 'form-inline col-12 col-md-10 p-1'} }) }}
      <small class="error-form offset-md-2">{{ form_errors(form.email) }}</small>
   </div>
   <div class="row my-4">
      {{ form_label(form.job, null, {'label': 'Poste','label_attr': {'class': 'label col-12 col-md-2'} }) }}
      {{ form_widget(form.job, {'attr': {'class': 'form-inline col-12 col-md-10 p-1'} }) }}
      <small class="error-form offset-md-2">{{ form_errors(form.job) }}</small>
   </div>
   <div class="row my-4">
      {{ form_label(form.postalCode, null, {'label': 'Code postal','label_attr': {'class': 'label col-12 col-md-2'} }) }}
      {{ form_widget(form.postalCode, {'attr': {'class': 'form-inline col-12 col-md-10 p-1'} }) }}
      <small class="error-form offset-md-2">{{ form_errors(form.postalCode) }}</small>
   </div>
   <div class="row my-4">
      {{ form_label(form.city, null, {'label': 'Ville','label_attr': {'class': 'label col-12 col-md-2'} }) }}
      {{ form_widget(form.city, {'attr': {'class': 'form-inline col-12 col-md-10 p-1'} }) }}
      <small class="error-form offset-md-2">{{ form_errors(form.city) }}</small>
   </div>
   <div class="row my-4">
      {{ form_label(form.image, null, {'label': 'Image','label_attr': {'class': 'label col-12 col-md-2 no-required'} }) }}
      {{ form_widget(form.image, {'attr': {'class': 'form-inline col-12 col-md-10 py-2 p-md-auto'} }) }}
      <small class="error-form offset-md-2">{{ form_errors(form.image) }}</small>
      <div class="form-inline offset-md-2">
         <a class="btn btn-sm no-shadow" href="{{ path('images_new') }}" title="Ajouter une nouvelle image">Nouvelle
            image</a>
      </div>
   </div>
   <div class="row my-4">
      {{ form_label(form.description, null, {'label': 'Poste','label_attr': {'class': 'label col-12 col-md-2'} }) }}
      {{ form_widget(form.description, {'attr': {'class': 'form-inline col-12 col-md-10 p-1'} }) }}
      <small class="error-form offset-md-2">{{ form_errors(form.description) }}</small>
   </div>
</div>

{{ form_rest(form) }}
{{ form_end(form) }}
