{% extends 'admin/admin.html.twig' %}

{% block title 'Editer mon compte' %}
{% set class = 'account' %}

{% block content %}
   <div class="container edit">
      <h1>Editer mon compte</h1>
{#      <a class="btn-custom btn-sm d-inline-block my-4" href="{{ path('information_index') }}">Annuler</a>#}

      {{ include('admin/information/_form.html.twig', {'button_label': 'Mettre à jour mon profil'}) }}

      {# {{ include('admin/information/_delete_form.html.twig') }} #}

   </div>
{% endblock %}
