{% extends 'admin/admin.html.twig' %}

{% block title 'Mon compte' %}
{% set class = 'account' %}

{% block content %}
   <h1 class="mb-5">Mon compte</h1>
   {% for information in information %}
      <div class="show">
         <div class="row my-2">
            <p class="label col-12 col-md-2">Nom</p>
            <p class="data-user col-12 col-md-10">{{ information.lastname }}</p>
         </div>
         <div class="row my-2">
            <p class="label col-12 col-md-2">Prénom</p>
            <p class="data-user col-12 col-md-10">{{ information.firstname }}</p>
         </div>
         <div class="row my-2">
            <p class="label col-12 col-md-2 no-required">Téléphone</p>
            <p class="data-user col-12 col-md-10 h-39">{{ information.phone }}</p>
         </div>
         <div class="row my-2">
            <p class="label col-12 col-md-2">Code postal</p>
            <p class="data-user col-12 col-md-10 h-39">{{ information.postalCode }}</p>
         </div>
         <div class="row my-2">
            <p class="label col-12 col-md-2">Ville</p>
            <p class="data-user col-12 col-md-10 h-39">{{ information.city }}</p>
         </div>
         <div class="row my-2">
            <p class="label col-12 col-md-2">E-mail</p>
            <p class="data-user col-12 col-md-10">{{ information.email }}</p>
         </div>
         <div class="row my-2">
            <p class="label col-12 col-md-2">Intitulé du poste</p>
            <p class="data-user col-12 col-md-10">{{ information.job }}</p>
         </div>
         <div class="row my-2">
            <p class="label col-12 col-md-2">Description</p>
            <textarea class="data-user col-12 col-md-10" rows="5">{{ information.description }}</textarea>
         </div>
         <div class="row my-2">
            <p class="offset-md-2 label-head py-2 col-12 col-md-10">Image de profil</p>
            <p class="data-user offset-md-2 col-12 col-md-9 content-image">
               {% if information.image %}
               <img class="tech-image" src="{{ vich_uploader_asset(information.image, 'imageFile') }}"
                    alt="{{ information.lastname }}"/>
               {% else %}
            <p class="offset-md-2 col-12 col-md-9">Aucune image de profil</p>
            {% endif %}
         </div>
         <div class="mb-2 mt-5 text-end">
            <a class="btn btn-sm btn-outline-primary" href="{{ path('information_edit', {'id': information.id}) }}">Editer
               mon
               profil</a>
         </div>
      </div>
   {% else %}
      <a class="btn btn-custom" href="{{ path('information_new') }}">Créer</a>
   {% endfor %}

{% endblock %}

