{% extends 'base.admin.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
   <div class="container crud">
      <h1 class="mb-5">Gérer mon compte</h1>
      <a href="{{ path('information_index') }}" class="btn-custom btn-sm text-danger">Annuler</a>

      {{ include('admin/information/_form.html.twig') }}

   </div>
{% endblock %}
