{% extends 'base.html.twig' %}

{% block title %}Information{% endblock %}

{% block body %}
    <h1>Information</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ information.id }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ information.lastname }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ information.firstname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ information.email }}</td>
            </tr>
            <tr>
                <th>Birthday_at</th>
                <td>{{ information.birthdayAt ? information.birthdayAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Job</th>
                <td>{{ information.job }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('information_index') }}">back to list</a>

    <a href="{{ path('information_edit', {'id': information.id}) }}">edit</a>

    {{ include('admin/information/_delete_form.html.twig') }}
{% endblock %}
