$primaryColor                  : #3e618e;
$secondaryColor                : #fdfbf4;
$lightColor                    : #e8e8e8;

$darkColor                     : #3c3838;
$darkColorOpacity              : rgba(#3c3838, .7);
$greyColor                     : #8d8d8d;
$snowColor                     : #FEFEFE;
$infoColor                     : #62db9c;

$dangerColor                   : #fd6b6b;
$successColor                  : #2fa526;

$theme-colors                  : (
        "primary": $primaryColor,
        "secondary": $secondaryColor,
        "dark": $darkColor,
        "danger": $dangerColor,
        "success": $successColor,
        "info" : $infoColor
);

$fontFamily                    : 'Comic Neue', cursive;
$fontFamilyTitle               : 'Merienda', cursive;
$fontSizeXLarge                : 50px;
$fontSizeLarge                 : 24px;
$fontSize                      : 16px;
$fontSizeSmall                 : 14px;
$fontSizeXSmall                : 12px;
$transitionHover               : all .3s easy;

$shadow                        : 0 0 20px lighten($darkColor, 60%);
$shadow-light                  : 0 0 8px $greyColor;
$shadow-btn                    : 0 0 12px lighten($darkColor, 50%);
$shadow-card                   : 0 2px 20px rgb(235, 230, 230);
$shadow-skills                 : #a9a9a9 0 0px 40px -20px, #a9a9a9 0 38px 55px -41px;

$space0-25                     : 0.25rem;
$space0-5                      : 0.5rem;
$space1                        : 1rem;
$space1-5                      : 1.5rem;
$space2                        : 2rem;
$space2-5                      : 2.5rem;
$space3                        : 3rem;
$space4                        : 4rem;
$space-custom                  : 150px;

$border                        : 1px solid $greyColor;
$border-light                  : 1px solid #dcdbdb;
$radius                        : 3px;

.container-wrapper {
  width     : 100%;
  max-width : 1200px;
  margin    : $space-custom auto $space-custom auto;

  @media screen and (max-width : 1250px) {
    width        : auto;
    margin-left  : $space1;
    margin-right : $space1;
  }
}

.btn {
  box-shadow : none;
  color      : $snowColor !important;

  &.btn-outline {
    &-primary {
      color : $primaryColor !important;

      &:hover {
        color : $snowColor !important;
      }
    }

    &-danger {
      color : $dangerColor !important;

      &:hover {
        color : $snowColor !important;
      }
    }
  }

  &-sm {
    color : $primaryColor !important;
  }

  &:focus, &:target {
    box-shadow : none !important;
  }
}

input,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color        : $secondaryColor;
  -webkit-text-fill-color : $darkColor;
  border                  : 1px solid $greyColor;
  transition              : background-color 5000s ease-in-out 0s;
  outline                 : none;
  appearance              : none;
}

input.form-control {
  display          : block;
  width            : 100%;
  padding          : 0.375rem 0.75rem;
  font-size        : 1rem;
  font-weight      : 400;
  line-height      : 1.5;
  color            : $snowColor;
  background-color : $snowColor;
  background-clip  : padding-box;
  appearance       : none;
  border-radius    : 0;
  transition       : border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-bottom    : 1px solid $secondaryColor;
  border-top       : none;
  border-left      : none;
  border-right     : none;

  &:focus {
    box-shadow       : none;
    border-bottom    : 2px solid $secondaryColor;
    background-color : $snowColor;
  }
}

$toast-max-width               : 350px;
$toast-padding-x               : .75rem;
$toast-padding-y               : .5rem;
$toast-font-size               : .875rem;
$toast-color                   : null;
$toast-background-color        : rgba($snowColor, .85);
$toast-border-width            : 1px;
$toast-border-color            : rgba(0, 0, 0, .1);
$toast-border-radius           : .25rem;
$toast-box-shadow              : 0 0.5rem 1rem rgba(0, 0, 0, .15);

$toast-header-background-color : rgba($snowColor, .85);
$toast-header-border-color     : rgba(0, 0, 0, .05);

