@import "vars";

.contact {
  display       : flex;
  margin        : auto;
  box-shadow    : $shadow-card;
  border-radius : $radius;

  > div {
    width : 50%;
  }

  .image {
    width                     : 500px;
    background-color          : $lightColor;
    border-top-left-radius    : $radius;
    border-bottom-left-radius : $radius;

    @media screen and(max-width : 800px) {
      display : none;
    }
  }

  .form-contact {
    margin-left : $space4;
    padding     : $space3 $space1-5;

    .required:after {
      content    : ' (Obligatoire)';
      font-size  : $fontSizeSmall;
      color      : $dangerColor;
      font-style : italic;
    }

    .title {
      margin-bottom : $space3;
    }

    .form-group {
      display         : flex;
      justify-content : space-around;

      &:first-child .form-floating:first-child {
        margin-right : $space2;
      }

      .form-floating {
        width         : 100%;
        margin-bottom : $space2;
      }

      &.action {
        justify-content : flex-end;
      }

      @media screen and(max-width : 991px) {
        display : block;
      }
    }

    @media screen and(max-width : 800px) {
      width  : 100%;
      margin : $space1-5 auto;
    }

    textarea {
      min-height : 180px;

      &:focus {
        box-shadow : none;
      }
    }

    input {
      border-bottom : $border-light;

      &:focus {
        border-bottom : 2px solid $primaryColor;
      }
    }
  }
}
