.footer {
  background-color : $primaryColor;
  padding          : $space1-5 $space4;
  color            : $snowColor;

  .container {
    display         : flex;
    justify-content : space-around;
    align-items     : center;

    @media screen and (max-width : 700px) {
      flex-direction  : column;
      justify-content : flex-start;

      .social {
        width      : 100%;
        margin-top : $space1-5;
      }
    }

    h5 {
      margin-bottom : 0;
    }

    .social .social-link {
      display      : inline-block;
      width        : 40px;
      margin-right : $space1-5;
    }
  }
}
