.header {
  position   : relative;
  height     : 60vh;
  margin-top : $space4;
  overflow   : hidden;

  .header-title {
    position  : absolute;
    top       : 50%;
    transform : translateY(-75%);
    left      : 25%;
    z-index   : 75;
    color     : $darkColor;

    .fullName {
      font-size : $fontSizeXLarge !important;
    }

    .welcome {
      color         : $primaryColor;
      margin-bottom : $space1-5;
      font-size     : $fontSizeLarge;
    }
  }

  img {
    position        : absolute;
    width           : 50%;
    opacity         : .8;
    aspect-ratio    : 16 / 9;
    object-fit      : cover;
    object-position : bottom;
    height          : 100%;
    top             : 50%;
    left            : 75%;
    transform       : translate(-50%, -50%);
  }

  @media only screen and (max-width : 700px) {
    .header-title {
      left          : 30px;
      padding-left  : $space1;
      padding-right : $space1;
    }
    img {
      width   : 100%;
      opacity : .3;
    }
  }
}
