.information {
  margin           : auto;
  padding          : 0;
  position         : relative;
  height           : 700px;
  background-color : $lightColor;

  .bg {
    position : absolute;
  }

  .bg-bottom-left {
    transform : rotate(180deg);
    bottom    : 0;
    left      : 0;
  }

  .bg-top-right {
    top   : 0;
    right : 0;
  }

  .presentation {
    position         : absolute;
    top              : 40%;
    left             : 50%;
    transform        : translate(-50%, -50%);
    padding          : $space2;
    color            : $darkColor;
    box-shadow       : $shadow-light;
    background-color : $snowColor;

  }

  @media only screen and (max-width : 700px) {
    .presentation {
      width : 90%;
      top   : 50%;
    }
  }
}
