@import "vars";

nav.navbar-expand-lg#nav-public {
  position : static;
}

form {
  margin           : 5rem auto;
  max-width        : 500px;
  padding          : 3rem;
  box-shadow       : $shadow-light;
  background-color : $secondaryColor;
  backdrop-filter  : blur(15px);

  .form-body {
    margin : 3rem auto;
  }

  h1 {
    text-align : center;
  }

  .btn-sm {
    color : $snowColor !important;
  }

  &.auth .form-control, &.auth .form-control {
    background-color : $secondaryColor;
    border-bottom    : 1px solid $greyColor;

    &:focus {
      color         : $snowColor;
      border-top    : none;
      border-right  : none;
      border-left   : none;
      border-bottom : 2px solid $primaryColor;
      border-radius : 0;
      box-shadow    : inset 0 0 500px $secondaryColor;
      padding-left  : .5rem;
    }
  }

  .form-floating > label {
    padding-left : .5rem;
  }
}

@media screen and (min-width : 700px) {
  footer {
    position : absolute;
    bottom   : 0;
    left     : 0;
    right    : 0;
  }
}

