nav.navbar-expand-lg#nav-public {
  position         : fixed;
  width            : 100%;
  z-index          : 100;
  transition       : all .75s ease;
  height           : 100px;
  background-color : transparent;
  top              : 0;

  .navbar-nav .nav-link {
    padding : 1rem;
    height  : 100%;
    color   : $greyColor;

    &:hover, &:target, &:focus {
      color : $primaryColor;
    }
  }
  .navbar-collapse {
    z-index : 1000;
  }

  .navbar-brand {
    color      : $darkColor;
    font-size  : 24px;
    transition : all .3s ease;

    &:hover {
      color : $darkColor;
    }
  }
}

nav.navbar-light .navbar-toggler {
  font-size  : .75rem;
  border     : none;
  transition : all .75s ease;
}

nav .navbar-toggler:focus {
  text-decoration : none;
  outline         : 0;
  box-shadow      : none;
}

.navbar-expand-lg .navbar-nav {
  align-items : center;
}

@media only screen and (max-width : 991px) {
  .navbar-nav {
    background-color : $snowColor;
    padding-top      : $space1;
    padding-bottom   : $space1;
    box-shadow       : $shadow-btn;

    & .nav-item {
      width         : 100%;
      border-bottom : $border-light;
    }
  }

}
