.navigation {
  margin : $space1-5;

  .pagination {
    justify-content : center;
  }

  .page-link {
    border : none;
    color  : $darkColor;

    &:hover {
      background-color : $primaryColor;
      color            : $snowColor;
    }

    &:focus {
      box-shadow : none;
    }
  }

  .page-item.active .page-link {
    background-color : inherit;
    border           : none;
    border-bottom    : 2px solid $primaryColor;
    color            : $primaryColor;
  }
}
