@import "vars";

.modal {
  background-color : rgba($darkColor, .3);

  .modal-dialog {
    max-width  : 1000px;
    width      : 60%;
    transition : all .3s ease;

    @media screen and(max-width : 576px) {
      min-width    : 80%;
      margin-left  : auto;
      margin-right : auto;
      margin-top   : $space4;
    }

    .modal-content {
      border           : none;
      background-color : rgba($greyColor, 0);

      .carousel-control-prev, .carousel-control-next {
        border     : none;
        background : none;
        width      : 10%;
        color      : $darkColor
      }
    }
  }
}

.wrapper-project {
  h1 {
    text-align    : center;
    margin-bottom : $space4;
  }

  .image-container {
    display               : grid;
    grid-template-columns : repeat(5, 1fr);
    grid-gap              : 8px;


    img {
      aspect-ratio    : 16/9;
      object-fit      : cover;
      object-position : center;
    }

    .btn-modal {
      border : none;

      &:focus, &:target {
        border  : none;
        outline : none;
      }

      &:not(.highlight) {
        grid-row : 2;
      }

      &.highlight {
        grid-column : 1/6;
      }
    }
  }

  .wc-section {
    .wc-resume, .wc-info {
      margin-top : $space4;
      padding    : $space1-5;
      box-shadow : 4px 4px 5px #dedede, -2px -2px 10px #efede7;
      border     : $border-light;
    }

    table {
      width      : 100%;
      margin-top : $space3;

      th {
        padding : $space1 $space0-5;
      }

      tr:nth-child(even) {
        background-color : $lightColor;
      }

      @media screen and (max-width : 700px) {
        tr:last-child {
          display        : flex;
          flex-direction : column;

          td {
            display : flex;
          }

          span {
            margin-left  : $space0-25;
            margin-right : $space0-25;
          }
        }
      }

      th {
        width : 150px;
      }

      td span {
        display        : inline-block;
        margin-top     : $space1-5;
        height         : 75px;
        width          : 75px;
        padding        : $space0-5;
        border-radius  : $radius;
        border         : $border;
        vertical-align : middle;

        img {
          object-fit : cover;
        }
      }
    }
  }
}
