@import "vars";

.projects-list {
  .project-main {
    display         : flex;
    flex-wrap       : wrap;
    justify-content : center;
  }

  h1 {
    text-align    : center;
    margin-bottom : $space4;
  }

  .project-content {
    width      : 300px;
    padding    : $space0-5;
    min-height : 370px;
    @media screen and (max-width : 700px) {
      width : 100%;
    }

    .card-project-tech {
      color : $primaryColor;
    }

    .project-content-card {
      padding       : $space0-5;
      border        : $border;
      border-radius : $radius;
      transition    : all .3s ease;

      &:hover {
        box-shadow : $shadow-skills;
        transform  : translateY(-10px);
        border     : 1px solid rgba($darkColor, .2);
      }
    }

    img {
      aspect-ratio : 16/9;
    }

    .card-project-main {
      padding : $space1 $space0-5;
      height  : 100%;
    }

    .card-project-body {
      padding    : $space0-5 $space0-25;
      margin     : $space1 auto;
      font-size  : $fontSizeSmall;
      min-height : 75px;
    }
  }
}
