.section-realisation {
  padding          : $space2 0;
  background-color : $lightColor;

  img {
    height     : 100%;
    object-fit : cover;
  }

  .wrapper {
    display               : grid;
    justify-content       : space-evenly;
    height                : auto;
    grid-template-columns : repeat(3, 400px);
    grid-template-rows    : 1fr;
    column-gap            : .5rem;
    row-gap               : .5rem;
    margin-left           : $space1 / 2;
    margin-right          : $space1 / 2;
    padding               : $space4 0;

    * {
      transition : all .5s ease;
    }

    .link-project {
      display       : inline-block;
      border        : 1px solid $secondaryColor;
      margin        : 1rem auto;
      padding       : $space1;
      color         : $snowColor;
      border-radius : $radius;
    }

    *[class^="card-"] {
      position      : relative;
      aspect-ratio  : 4/3;
      border-radius : $radius;

      .hover-effect {
        display          : flex;
        align-items      : center;
        justify-content  : center;
        position         : absolute;
        left             : 0;
        right            : 0;
        bottom           : 0;
        top              : 0;
        opacity          : 0;
        background-color : rgba($darkColor, 0);
        border-radius    : $radius;
      }

      .hover-effect-body {
        text-align      : center;
        color           : $snowColor;
        width           : auto;
        display         : flex;
        flex-direction  : column;
        justify-content : center;
        height          : 90px;

        .card-title {
          display : contents;
        }
      }

      &:hover {

        .hover-effect {
          background-color : rgba($darkColor, .6);
          opacity          : 1;
        }

        .hover-effect-body {
          animation : card-effect .75s ease forwards;
        }

        img {
          transform     : scale(1.1) rotate(-3deg);
          box-shadow    : $shadow-btn;
          border-radius : $radius;
        }
      }
    }
  }

  @keyframes card-effect {
    0% {
      opacity : 0;
    }
    25% {
      opacity : 0;
    }
    100% {
      opacity : 1;
    }
  }

  .card-1 {
    grid-column : 1;
    grid-row    : 1;
  }

  .cta-project {
    text-align : center;
    margin-top : $space2;
  }

  @media only screen and(max-width : 1250px) {
    .card-1 {
      grid-column : 1/3;
      grid-row    : 1/3;
    }
  }

  @media only screen and(max-width : 700px) {
    .wrapper {
      grid-template-columns : repeat(1, 1fr);
      grid-template-rows    : repeat(1, 1fr);
      margin                : 0 $space1;
    }

    .card-1 {
      grid-column : 1/1;
      grid-row    : 1/1;
    }
  }
}
