.skills {
  display   : flex;
  flex-wrap : wrap;
  margin    : $space4 auto;
  padding   : $space4 $space1;
  max-width : 1400px;

  .card {
    margin     : $space1 auto;
    padding    : $space1;
    width      : 30%;
    transition : all .3s ease;

    &:hover {
      border     : 1px solid rgba($greyColor, .2);
      box-shadow : $shadow-skills;
      transform  : translateY(-10px);
    }

    .card-header-category {
      display : flex;
      margin  : $space1 0;

      img {
        width       : 35px;
        object-fit  : contain;
        margin-left : $space1 / 2;
      }
    }

    .card-title-category {
      margin      : $space1 0;
      font-weight : bold;
      color       : $primaryColor;
    }
  }

  @media only screen and (max-width : 1000px) {
    .card {
      width     : 50% - 1;
      max-width : none;
      min-width : 0;
    }
  }

  @media only screen and (max-width : 700px) {
    .card {
      width : 100%;
    }
  }
}
