.tox .tox-toolbar--scrolling .tox-toolbar__group {
  flex-wrap : wrap;
  width     : fit-content;
}

.tox .tox-toolbar--scrolling .tox-toolbar__group {
  flex-wrap : wrap !important;
}

.tox.tox-tinymce.tox-platform-touch {
  height : 400px !important;
}
