.toast {
  position  : absolute;
  right     : 50px;
  top       : 75px;
  min-width : 275px;
  z-index   : 1000;

  &.success .toast-header {
    background-color : $successColor;
    color            : $snowColor;
  }

  &.danger .toast-header {
    background-color : $dangerColor;
    color            : $snowColor;
  }

  img {
    width : auto;
  }

  .toast-header {
    padding : .5rem .75rem;
  }

  .delete, .denied {
    background-color : $dangerColor;
    color            : $snowColor;
  }

  .update, .create {
    background-color : $successColor;
    color            : $snowColor;

    .toast-body {
      color : $successColor;
    }
  }
}
