{% extends 'base.admin.html.twig' %}

{% block title %}{% endblock %}
{% set class = class|default(null) %}

{% block body %}

   <div class="container-fluid main-admin mb-5 mb-md-auto">
      {% include 'parts/_menu.aside.html.twig' %}
      {% include 'parts/_menu.admin.mobile.html.twig' %}
      <div class="content-admin mb-5 mb-md-auto mx-3 mt-5">
         {% block content %}{% endblock %}
      </div>
   </div>

{% endblock %}

