{% extends 'admin/admin.html.twig' %}

{% block title 'Dashboard' %}
{% set class = 'dashboard' %}

{% block content %}
   <header class="jumbotron">
      <h2>Tableau de bord administrateur</h2>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
         {% include 'parts/_card.html.twig' with {'title': 'Visites', 'content': counter, 'route': 'admin'} %}
         {% include 'parts/_card.html.twig' with {'title': 'Nouveaux messages', 'content': 0} %}
         {% include 'parts/_card.html.twig' with {'title': 'Dernière connexion', 'content': '11/03/2021'} %}
         {% include 'parts/_card.html.twig' with {'title': 'Mise à jour', 'content': '12/03/2021'} %}
      </div>
   </header>
{% endblock %}
