<form class="form-delete d-inline" method="post" action="{{ path('categories_delete', {'id': category.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="btn btn-sm no-shadow-danger {{ class }}" title="Supprimer la catégorie"><i class="fas fa-trash-alt"></i></button>
</form>
