{{ form_start(form) }}
<div class="mt-4 text-end">
   <a class="btn btn-sm btn-outline-danger" href="{{ path('categories_index') }}">Annuler</a>
   <button class="btn btn-sm btn-outline-primary">{{ button_label|default('Créer la catégorie') }}</button>
</div>
<div class="row my-4">
   {{ form_label(form.name, null, {'label': 'Nom','label_attr': {'class': 'label col-12 col-md-2'} }) }}
   {{ form_widget(form.name, {'attr': {'class': 'form-inline col-12 col-md-4 py-2 p-md-auto'} }) }}
   <small class="error-form offset-md-2">{{ form_errors(form.name) }}</small>
</div>
<div class="row my-4">
   {{ form_label(form.description, null, {'label': 'Description','label_attr': {'class': 'label col-12 col-md-2'} }) }}
   {{ form_widget(form.description, {'attr': {'class': 'form-inline col-12 col-md-4 py-2 p-md-auto'} }) }}
   <small class="error-form offset-md-2">{{ form_errors(form.description) }}</small>
</div>
{{ form_end(form) }}
