{% extends 'admin/admin.html.twig' %}

{% block title 'Liste des catégories' %}
{% set class = 'skill' %}

{% block content %}
    <h1>Edit Categories</h1>

    {{ include('admin/categories/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('categories_index') }}">back to list</a>

{% endblock %}
