{% extends 'admin/admin.html.twig' %}

{% block title 'Liste des catégories' %}
{% set class = 'skill' %}

{% block content %}
   <h1>Liste des categories</h1>

   <div class="my-4 text-end">
      <a class="btn btn-sm btn-outline-primary" href="{{ path('categories_new') }}">Ajouter une catégorie</a>
   </div>
   <table class="table">
      <thead>
      <tr>
         <th>Name</th>
         <th>Description</th>
         <th>actions</th>
      </tr>
      </thead>
      <tbody>
      {% for category in categories %}
         <tr>
            <td>{{ category.name }}</td>

            <td>
               <p class="d-md-none d-inline-block w-25 fw-bold">Description</p>
               <button type="button" class="btn-modal" data-bs-toggle="modal" data-bs-target="#modal{{ category.id }}">
                  <span><i class="fas fa-file-alt"></i></span>Lire la description
               </button>
            </td>

            {# Start modal #}
            <div class="modal fade" id="modal{{ category.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Description</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                     </div>
                     <div class="modal-body">
                        {{ category.description | nl2br }}
                     </div>
                  </div>
               </div>
            </div>
            {# End modal #}

            <td class="action">
               <a class="btn btn-sm no-shadow"
                  href="{{ path('categories_edit', {'id': category.id}) }}" title="Editer la catégorie">
                  <i class="fas fa-pen-fancy"></i>
               </a>
               {% include 'admin/categories/_delete_form.html.twig' with {'class': 'no-border'} %}
            </td>
         </tr>
      {% else %}
         <tr>
            <td colspan="3">no records found</td>
         </tr>
      {% endfor %}
      </tbody>
   </table>

{% endblock %}
