{% extends 'admin/admin.html.twig' %}

{% block title 'Liste des catégories' %}
{% set class = 'skill' %}

{% block content %}
    <h1>Créer une catégorie</h1>

    {{ include('admin/categories/_form.html.twig') }}

{% endblock %}
