<form class="d-inline" method="post" action="{{ path('project_delete', {'id': project.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
    <button class="btn btn-sm no-shadow-danger" title="Supprimer le projet"><i class="fas fa-trash-alt"></i></button>
</form>
