{{ form_start(form) }}
<div class="edit">
   <div class="mt-4 text-end">
      <a class="btn btn-sm btn-outline-danger" href="{{ path('project_index') }}">Annuler</a>
      <button class="btn btn-sm btn-outline-primary">{{ button_label|default('Créer le projet') }}</button>
   </div>
   <div class="row my-4">
      {{ form_label(form.name, null, {'label': 'Nom','label_attr': {'class': 'label col-12 col-md-2'} }) }}
      {{ form_widget(form.name, {'attr': {'class': 'form-inline col-12 col-md-5 h-39'} }) }}
      <small class="error-form offset-md-2">{{ form_errors(form.name) }}</small>
   </div>
   <div class="row my-4 link-content">
      {{ form_label(form.link, null, {'label': 'Lien du site','label_attr': {'class': 'label col-12 col-md-2 no-required'} }) }}
      <div class="input-group">
         <div class="input-group-prepend">
            <span class="input-group-text">https://</span>
         </div>
         {{ form_widget(form.link, {'attr': {'class': 'form-inline'} }) }}
      </div>
      <small class="error-form offset-md-2">{{ form_errors(form.link) }}</small>
   </div>
   <div class="row my-4">
      {{ form_label(form.frame, null, {'label': 'Cadre','label_attr': {'class': 'label col-12 col-md-2'} }) }}
      {{ form_widget(form.frame, {'attr': {'class': 'form-inline col-12 col-md-5 h-39'} }) }}
      <small class="error-form offset-md-2">{{ form_errors(form.frame) }}</small>
   </div>
   <div class="row my-4">
      {{ form_label(form.shortDescription, null, {'label': 'Courte description','label_attr': {'class': 'label col-12 col-md-2'} }) }}
      {{ form_widget(form.shortDescription, {'attr': {'class': 'form-inline col-12 col-md-5'} }) }}
      <small class="error-form offset-md-2">{{ form_errors(form.shortDescription) }}</small>
   </div>
   <div class="row my-4">
      {{ form_label(form.createdAt, null, {'label': 'Année de création','label_attr': {'class': 'label col-12 col-md-2'} }) }}
      {{ form_widget(form.createdAt, {'attr': {'class': 'form-inline col-12 col-md-5 h-39'} }) }}
      <small class="error-form offset-md-2">{{ form_errors(form.createdAt) }}</small>
   </div>
   <div class="row my-4">
      {{ form_label(form.picture, null, {'label': 'Image','label_attr': {'class': 'label col-12 col-md-2'} }) }}
      {{ form_widget(form.picture, {'attr': {'class': 'form-inline col-12 col-md-5 select'} }) }}
      <small class="error-form offset-md-2">{{ form_errors(form.picture) }}</small>
      <div class="form-inline offset-md-2">
         <a class="btn btn-sm no-shadow" href="{{ path('images_new') }}" title="Ajouter une nouvelle image">Nouvelle
            image</a>
      </div>
   </div>
   <div class="row my-4">
      {{ form_label(form.technology, null, {'label': 'Technomogie','label_attr': {'class': 'label col-12 col-md-2'} }) }}
      {{ form_widget(form.technology, {'attr': {'class': 'form-inline col-12 col-md-5 select'} }) }}
      <small class="error-form offset-md-2">{{ form_errors(form.technology) }}</small>
      <div class="form-inline offset-md-2">
         <a class="btn btn-sm no-shadow" href="{{ path('technology_new') }}" title="Ajouter une nouvelle technologie">Nouvelle
            technologie</a>
      </div>
   </div>
   <div class="row my-4">
      {{ form_label(form.description, null, {'label': 'Description','label_attr': {'class': 'label col-12 col-md-2'} }) }}
      {{ form_widget(form.description, {'attr': {'class': 'form-inline col-12 col-md-5 tiny'} }) }}
      <small class="error-form offset-md-2">{{ form_errors(form.description) }}</small>
   </div>
</div>
{{ form_end(form) }}
