{% extends 'admin/admin.html.twig' %}

{% block title 'Editer un projet' %}
{% set class = 'project' %}

{% block content %}
    <h1>Edit Project</h1>

    {{ include('admin/project/_form.html.twig', {'button_label': 'Mettre à jour le projet'}) }}

    {{ include('admin/project/_delete_form.html.twig') }}
{% endblock %}
