{% extends 'admin/admin.html.twig' %}

{% block title 'Réalisations' %}
{% set class = 'project' %}

{% block content %}
   <h1>Mes projets</h1>
   <div class="my-4 text-end">
      <a class="btn btn-sm btn-outline-primary" href="{{ path('project_new') }}">Créer un projet</a>
   </div>

   <table class="table">
      <thead>
      <tr class="d-md-table-row d-none">
         <th>Nom</th>
         <th>Description</th>
         <th>Images</th>
         <th>Lien</th>
         <th>Créer</th>
         <th>actions</th>
      </tr>
      </thead>
      <tbody>
      {% for project in projects %}
         <tr class="d-flex d-md-table-row flex-column mb-2 mb-md-auto tr-border">
            <td>
               <p class="d-md-none d-inline-block w-25 fw-bold">Nom</p>
               {{ project.name }}
            </td>
            <td>
               <p class="d-md-none d-inline-block w-25 fw-bold">Description</p>
               <button type="button" class="btn-modal" data-bs-toggle="modal" data-bs-target="#modal{{ project.id }}">
                  <span><i class="fas fa-file-alt"></i></span>Lire la description
               </button>
            </td>

            {# Start modal description #}
            <div class="modal fade" id="modal{{ project.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Description</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                     </div>
                     <span class="modal-body">
                        {{ project.description | raw | nl2br }}
                     </span>
                  </div>
               </div>
            </div>
            {# End modal #}

            <td>
               <p class="d-md-none d-inline-block w-25 fw-bold">Images</p>
               <button type="button" class="btn-modal" data-bs-toggle="modal"
                       data-bs-target="#modal-image{{ project.id }}">
                  <span><i class="fas fa-image"></i></span>Voir les images
               </button>
            </td>

            {# Start modal image/techno #}
            <div class="modal fade" id="modal-image{{ project.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
               <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Images</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                     </div>
                     <div class="modal-body">
                        <p class="label-head">Images</p>
                        {% for image in project.picture %}
                           <img class="img-preview" src="{{ vich_uploader_asset(image, 'imageFile') }}"
                                alt="{{ project.name }}">
                        {% else %}
                           <p>Aucune image pour ce projet</p>
                        {% endfor %}
                        <p class="label-head">Technologies</p>
                        {% for tech in project.technology %}
                           <img class="img-preview tech-preview"
                                src="{{ vich_uploader_asset(tech.image, 'imageFile') }}"
                                alt="{{ tech.name }}">
                        {% else %}
                           <p>Aucune technologie pour ce projet</p>
                        {% endfor %}
                     </div>
                  </div>
               </div>
            </div>
            {# End modal #}

            <td>
               <p class="d-md-none d-inline-block w-25 fw-bold">Lien</p>
               {% if project.link %}
                  <span>
                      <i class="fas fa-external-link-alt"></i>
                     <a class="external-link" href="https://{{ project.link }}" target="_blank"
                        title="{{ project.name }}">
                     {{ project.link }}
                     </a>
                  </span>
               {% else %} aucun lien disponible {% endif %}
            </td>
            <td>
               <p class="d-md-none d-inline-block w-25 fw-bold">Créer</p>
               {{ project.createdAt ? project.createdAt|date('Y') : '' }}
            </td>
            <td>
               <a class="btn btn-sm no-shadow"
                  href="{{ path('project_show', {'id': project.id}) }}" title="Voir les détails du projet">
                  <i class="fas fa-eye"></i>
               </a>
               <a class="btn btn-sm no-shadow" href="{{ path('project_edit', {'id': project.id}) }}"
                  title="Editer le projet">
                  <i class="fas fa-pen-fancy"></i>
               </a>
            </td>
         </tr>
      {% else %}
         <tr>
            <td colspan="6">no records found</td>
         </tr>
      {% endfor %}
      </tbody>
   </table>

{% endblock %}
