{% extends 'admin/admin.html.twig' %}

{% block title 'Créer un projet' %}
{% set class = 'project' %}

{% block content %}
    <h1>Création d'un projet</h1>

    {{ include('admin/project/_form.html.twig') }}

{% endblock %}
