{% extends 'admin/admin.html.twig' %}

{% block title 'Réalisations' %}
{% set class = 'project' %}

{% block content %}
   <h1>Détail projet</h1>

   <div class="mt-4 text-end">
      <a class="btn btn-sm btn-outline-danger" href="{{ path('project_index') }}">Retour</a>
      <a class="btn btn-sm btn-outline-primary" href="{{ path('project_edit', {'id': project.id}) }}">Editer le
         projet</a>
      {{ include('admin/project/_delete_form.html.twig') }}
   </div>

   <div class="show my-5">
      <div class="row my-2">
         <p class="label col-12 col-md-3">Nom</p>
         <p class="data-user col-12 col-md-9">{{ project.name }}</p>
      </div>
      <div class="row my-2">
         <p class="label col-12 col-md-3">Description</p>
         <span class="data-user col-12 col-md-9">{{ project.description | raw | nl2br }}</span>
      </div>
      <div class="row my-2">
         <p class="label col-12 col-md-3 no-required">Lien du site</p>
         <p class="data-user h-39 col-12 col-md-9">{{ project.link }}</p>
      </div>
      <div class="row my-2">
         <p class="label col-12 col-md-3">Création du site</p>
         <p class="data-user col-12 col-md-9">{{ project.createdAt ? project.createdAt|date('Y') : '' }}</p>
      </div>
      <div class="row my-2">
         <p class="label col-12 col-md-3">Cadre</p>
         <p class="data-user col-12 col-md-9">{{ project.frame }}</p>
      </div>
      <div class="row my-2">
         <p class="label col-12 col-md-3">Courte description</p>
         <span class="data-user col-12 col-md-9">{{ project.shortDescription }}</span>
      </div>
      <div class="row my-2">
         <p class="offset-md-3 label-head py-2 col-12 col-md-9">Images</p>
         <p class="data-user offset-md-3 col-12 col-md-9 content-image">
            {% for image in project.picture %}
            <span class="content-image">
               <img class="img-show {{ image.isHighlight ? 'isHighlight' : '' }}"
                    src="{{ vich_uploader_asset(image, 'imageFile') }}"
                    alt="{{ project.name }}"/>
               {% if image.isHighlight == false %}
                  <a href="{{ path('project_highlight', {'id': project.id, 'image': image.id}) }}" class="highlight"
                     title="Mettre en avant">Mettre en avant</a>
               {% endif %}
            </span>
            {% else %}
         <p class="offset-md-3 col-12 col-md-9">Aucune image pour ce projet</p>
         {% endfor %}
      </div>
      <div class="row my-2">
         <p class="offset-md-3 label-head py-2 col-12 col-md-9">Technologies</p>
         <p class="data-user offset-md-3 col-12 col-md-9 content-image">
            {% for tech in project.technology %}
            <img class="tech-image" src="{{ vich_uploader_asset(tech.image, 'imageFile') }}"
                 alt="{{ tech.name }}"/>
            {% else %}
         <p class="offset-md-3 col-12 col-md-9">Aucune technologie pour ce projet</p>
         {% endfor %}
      </div>
   </div>
{% endblock %}
