@import "scss/vars";
@import "scss/navbar";
@import "scss/header";
@import "scss/realisation";
@import "scss/information";
@import "scss/pagination";
@import "scss/skill";
@import "scss/footer";
@import "scss/toast";

@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,400&family=Playfair+Display:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,400&display=swap');

html {
  scroll-behavior : smooth;
}

body {
  font-family      : $fontFamily;
  font-size        : $fontSize;
  padding          : 0;
  margin           : 0;
  background-color : $secondaryColor;
  color            : $darkColor;
}

*, *:before, *:after {
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  box-sizing         : border-box;
}

a, a:hover {
  text-decoration : none;
  color           : $secondaryColor;
}

img {
  width : 100%;
}

.navbar-brand, h1, h2, h3, h4, h5, h6 {
  font-family : $fontFamilyTitle;
  font-weight : bold;
}

.wrapper-main {
  @extend .container-wrapper;
}

.search .btn-sm.btn-search, .search .btn-sm.btn-clear {
  background-color           : $primaryColor;
  color                      : $snowColor !important;
  width                      : 40px;
  border-top-right-radius    : $border-radius !important;
  border-bottom-right-radius : $border-radius !important;
}

.search .btn-sm.btn-clear {
  width         : auto;
  margin-left   : $space1-5 !important;
  border-radius : $border-radius !important;
  display       : flex;
  align-items   : center;
}
