@import "scss/vars";
@import "scss/admin/admin.menu.mobile";
@import "scss/admin/admin.aside";
@import "scss/admin/admin.navbar";
@import "scss/admin/select2";
@import "scss/toast";
@import "scss/tiny";

nav.navbar-expand-lg {
  background : $primaryColor !important;
}

.modal-content {
  box-shadow : 0 0 7px 1px $greyColor;
}

.jumbotron {
  border-bottom : 1px solid $greyColor;

  @media only screen and(min-width : 767px) {
    padding : $space2;
  }

  .card {
    height : 120px;
  }

  .card-header {
    color : $primaryColor;
  }
}

div.container-fluid.main-admin {
  padding-left : 0;
}

.container {
  max-width : 1500px !important;
}

.external-link, .external-link:hover {
  color           : $darkColor;
  text-decoration : underline;
}

.main-admin {
  display : flex;

  table {
    color : $darkColor;

    thead, tbody, tfoot, tr, td, th {
      border-color : $greyColor !important;
    }

    thead tr th:last-child {
      text-align : right;
    }

    tr {
      td {
        vertical-align : middle;

        &:last-child {
          text-align : right;
        }
      }

      @media only screen and(max-width : 767px) {
        &.tr-border {
          border        : 1px solid $greyColor;
          border-radius : 5px;
        }
      }

    }
  }

  .content-admin {
    font-size        : $fontSizeSmall;
    margin-right     : $space4;
    background-color : $secondaryColor;
    box-shadow       : 0 0 7px 1px $greyColor;
    padding          : $space3;
    width            : 100%;
    margin-bottom    : 3rem !important;

    @media only screen and(max-width : 767px) {
      margin-right : 0;
      padding      : 0 !important;
      box-shadow   : none;
    }

    .row {
      margin : 0;
    }

    h1 {
      border-bottom  : $border;
      padding-bottom : $space1-5;
    }

    .select2 {
      padding : 0;
    }

    #project_image {
      input[type=checkbox] {
        display    : inline-block;
        appearance : auto;

      }
    }

    .btn.no-shadow {
      box-shadow : none !important;
      border     : none;
      color      : $darkColor;
    }

    .btn-modal {
      @extend .btn.no-shadow;
      background-color : inherit;
      color            : $darkColor;
      text-decoration  : underline;

      &:focus {
        outline : none;
      }

      span {
        margin-right : $space1 / 2;
        color        : $darkColor;
      }

      i {
        font-size : $space1;
      }
    }

    span {
      color : $darkColor;
    }

    .btn.no-shadow-danger {
      box-shadow : none !important;
      color      : $dangerColor !important;
      border     : 1px solid $dangerColor;

      &.no-border {
        border : none;
      }
    }

    .action {
      .form-delete {
        margin-left : $space1;
      }
    }

    .img-preview {
      width : 50px;
    }

    .data-user.show, .img-show, .vich-image a img {
      max-width : 220px;
    }

    .vich-image {
      padding : 0;
      flex    : 0 0 auto;
      width   : 33.33333%;

      a:last-child, label {
        display : none;
      }
    }
  }
}

.fas, .far {
  font-size : 1rem;
}

.show .data-user.content-image {
  display          : flex;
  border           : none !important;
  background-color : $secondaryColor;
  flex-wrap        : wrap;
  padding          : 0;
  margin-right     : $space0-25;

  img {
    width         : 210px;
    height        : 210px;
    object-fit    : contain;
    border        : 1px solid $dangerColor;
    margin-bottom : $space0-5;
    padding       : .3rem;
    border-radius : 4px;

    &.isHighlight {
      border     : 1px solid $successColor;
      box-shadow : $shadow-btn;
    }
  }

  .content-image {
    display        : flex;
    flex-direction : column;
    margin-left    : $space0-5;

    .highlight {
      color            : $snowColor;
      text-align       : center;
      background-color : $darkColor;
      width            : fit-content;
      margin           : auto;
      padding          : $space0-25 $space0-5;
      border-radius    : $radius;
      font-size        : $fontSizeXSmall;
    }
  }

  .tech-image {
    width        : 100px;
    height       : 100px;
    margin-left  : $space0-25;
    margin-right : $space0-25;
  }
}

.show, .edit {
  max-width : 990px;

  &.fade {
    min-width : 100%;
  }

  .label, .data-user {
    padding : .5rem $space1;
    display : block;
  }

  .label-head {
    display          : block;
    background-color : $primaryColor;
    padding          : $space1/2;
    color            : $snowColor;
  }

  .label {

    @media only screen and(max-width : 767px) {
      padding : 0;
    }

    &:not(.no-required):after {
      content : '*';
      display : inline-block;
      color   : $dangerColor;
    }
  }

  .data-user {
    //background-color : rgba($greyColor, .3);
    border : 1px solid $dangerColor;

    &:not(:empty) {
      border : 1px solid $greyColor;
    }
  }

  .h-39 {
    height : 39px;
  }

  a.btn-custom {
    background-color : $dangerColor !important;
    color            : $snowColor !important;
  }

  .modal-body {
    .img-preview {
      width         : 150px;
      height        : 150px;
      object-fit    : contain;
      margin        : $space1;
      border        : 1px solid $greyColor;
      padding       : .25rem;
      border-radius : 4px;
    }

    .tech-preview {
      width  : 100px;
      height : 100px;
    }
  }

  .input-group {
    width        : auto;
    padding-left : 0;

    input {
      padding-left : $space1;
    }

    .input-group-text {
      font-size                  : inherit;
      height                     : 100%;
      border-top-right-radius    : 0;
      border-bottom-right-radius : 0;
    }
  }
}

.help-form {
  padding : 0;

  p {
    display          : inline-block;
    background-color : $infoColor;
    margin           : $space1 / 3;
    padding          : .15rem .5rem;
    border-radius    : 4px;
    color            : $darkColor;
  }
}

.error-form {
  padding-left : 0;

  ul {
    display         : flex;
    margin-top      : .25rem;
    list-style-type : none;
    color           : $dangerColor;
    padding-left    : 0;

    li {
      display       : inline-block;
      background    : lighten($dangerColor, 35);
      padding       : .15rem .5rem;
      border-radius : 4px;
    }
  }
}

.select2-container--default .select2-results__option--selected,
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color : $primaryColor !important;
  color            : $snowColor !important;
  box-shadow       : 0 1px 8px lighten(#c2c2c2, .1), 0 -1px 8px lighten(#c2c2c2, .1);
}

.select2-container--default .select2-results__option--selected {
  font-style : italic;
}

