<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office">
<head><title>Hello world</title><!--[if !mso]><!-- -->
   <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--<![endif]-->
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <meta name="viewport" content="width=device-width,initial-scale=1">
   <style type="text/css">#outlook a {
           padding: 0;
       }

       body {
           margin: 0;
           padding: 0;
           -webkit-text-size-adjust: 100%;
           -ms-text-size-adjust: 100%;
       }

       table, td {
           border-collapse: collapse;
           mso-table-lspace: 0pt;
           mso-table-rspace: 0pt;
       }

       img {
           border: 0;
           height: auto;
           line-height: 100%;
           outline: none;
           text-decoration: none;
           -ms-interpolation-mode: bicubic;
       }

       p {
           display: block;
           margin: 13px 0;
       }</style>
   <!--[if mso]>
   <xml>
      <o:OfficeDocumentSettings>
         <o:AllowPNG/>
         <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
   </xml>
   <![endif]--><!--[if lte mso 11]>
   <style type="text/css">
      .mj-outlook-group-fix {
         width: 100% !important;
      }
   </style>
   <![endif]--><!--[if !mso]><!-->
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,500" rel="stylesheet" type="text/css">
   <style type="text/css">@import url(https://fonts.googleapis.com/css?family=Roboto:300,500);</style><!--<![endif]-->
   <style type="text/css">@media only screen and (min-width: 480px) {
           .mj-column-per-60 {
               width: 60% !important;
               max-width: 60%;
           }

           .mj-column-per-40 {
               width: 40% !important;
               max-width: 40%;
           }

           .mj-column-per-100 {
               width: 100% !important;
               max-width: 100%;
           }
       }</style>
   <style type="text/css">@media only screen and (max-width: 480px) {
           table.mj-full-width-mobile {
               width: 100% !important;
           }

           td.mj-full-width-mobile {
               width: auto !important;
           }
       }</style>
</head>
<body>
   <!--[if mso | IE]></td></tr></table>
   <table align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600">
      <tr>
         <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
   <div style="margin:0px auto;max-width:600px;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
         <tbody>
         <tr>
            <td style="direction:ltr;font-size:0px;padding:0px;text-align:center;"><!--[if mso | IE]>
               <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                     <td class="" style="vertical-align:top;width:600px;"><![endif]-->
               <div class="mj-column-per-100 mj-outlook-group-fix"
                    style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                  <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;"
                         width="100%">
                     <tr>
                        <td align="center" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                           <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                  style="border-collapse:collapse;border-spacing:0px;">
                              <tbody>
                              <tr>
                                 <td style="width:550px;"><a href="https://recast.ai?ref=newsletter"
                                                             target="_blank"><img height="auto"
                                                                                  src="https://cdn.recast.ai/newsletter/city-01.png"
                                                                                  style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;"
                                                                                  width="550"></a></td>
                              </tr>
                              </tbody>
                           </table>
                        </td>
                     </tr>
                  </table>
               </div>
               <!--[if mso | IE]></td></tr></table><![endif]--></td>
         </tr>
         </tbody>
      </table>
   </div>
   <!--[if mso | IE]></td></tr></table>
   <table align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600">
      <tr>
         <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
   <div style="margin:0px auto;max-width:600px;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
         <tbody>
         <tr>
            <td style="direction:ltr;font-size:0px;padding:0px;text-align:center;"><!--[if mso | IE]>
               <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                     <td class="" style="vertical-align:top;width:600px;"><![endif]-->
               <div class="mj-column-per-100 mj-outlook-group-fix"
                    style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                  <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;"
                         width="100%">
                     <tr>
                        <td align="center" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                           <div
                               style="font-family:Roboto, Helvetica, sans-serif;font-size:16px;font-weight:300;line-height:24px;text-align:center;color:#616161;">
                              Nouveau message de votre CV
                           </div>
                        </td>
                     </tr>
                  </table>
               </div>
               <!--[if mso | IE]></td></tr></table><![endif]--></td>
         </tr>
         </tbody>
      </table>
   </div>
   <!--[if mso | IE]></td></tr></table>
   <table align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600">
      <tr>
         <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
   <div style="margin:0px auto;max-width:600px;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
         <tbody>
         <tr>
            <td style="direction:ltr;font-size:0px;padding:0px;text-align:center;"><!--[if mso | IE]>
               <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                     <td class="" style="vertical-align:top;width:360px;"><![endif]-->
               <div class="mj-column-per-60 mj-outlook-group-fix"
                    style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                  <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;"
                         width="100%">
                     <tr>
                        <td align="center" style="font-size:0px;padding:0px;word-break:break-word;">
                           <div
                               style="font-family:Roboto, Helvetica, sans-serif;font-size:18px;font-weight:500;line-height:24px;text-align:center;color:#616161;">{{ contact.firstname }} {{ contact.lastname }}</div>
                        </td>
                     </tr>
                     <tr>
                        <td align="center" style="font-size:0px;padding:0px;word-break:break-word;">
                           <div
                               style="font-family:Roboto, Helvetica, sans-serif;font-size:14px;font-weight:500;line-height:24px;text-align:center;color:#616161;">{{ contact.email }}</div>
                        </td>
                     </tr>
                     <tr>
                        <td style="font-size:0px;padding:10px 25px;word-break:break-word;"><p
                               style="border-top:solid 2px #616161;font-size:1px;margin:0px auto;width:100%;"></p><!--[if mso | IE]><table align="center" border="0" cellpadding="0" cellspacing="0" style="border-top:solid 2px #616161;font-size:1px;margin:0px auto;width:310px;" role="presentation" width="310px" ><tr><td style="height:0;line-height:0;"> &nbsp;
</td></tr></table><![endif]--></td>
                     </tr>
                     <tr>
                        <td style="font-size:0px;padding:10px 25px;word-break:break-word;"><p
                               style="border-top:solid 2px #616161;font-size:1px;margin:0px auto;width:45%;"></p><!--[if mso | IE]><table align="center" border="0" cellpadding="0" cellspacing="0" style="border-top:solid 2px #616161;font-size:1px;margin:0px auto;width:112px;" role="presentation" width="112px" ><tr><td style="height:0;line-height:0;"> &nbsp;
</td></tr></table><![endif]--></td>
                     </tr>
                  </table>
               </div>
               <!--[if mso | IE]></td></tr></table><![endif]--></td>
         </tr>
         </tbody>
      </table>
   </div>
   <!--[if mso | IE]></td></tr></table>
   <table align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600">
      <tr>
         <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
   <div style="margin:0px auto;max-width:600px;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
         <tbody>
         <tr>
            <td style="direction:ltr;font-size:0px;padding:0px;padding-top:30px;text-align:center;"><!--[if mso | IE]>
               <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                     <td class="" style="vertical-align:top;width:600px;"><![endif]-->
               <div class="mj-column-per-100 mj-outlook-group-fix"
                    style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                  <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;"
                         width="100%">
                     <tr>
                        <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                           <div
                               style="font-family:Roboto, Helvetica, sans-serif;font-size:16px;font-weight:300;line-height:24px;text-align:left;color:#616161;">
                              <p>{{ contact.message }}</p></div>
                        </td>
                     </tr>
                  </table>
               </div>
               <!--[if mso | IE]></td></tr></table><![endif]--></td>
         </tr>
         </tbody>
      </table>
   </div>
   <!--[if mso | IE]></td></tr></table><![endif]--></div>
</body>
</html>
