<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport"
         content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{% block title %}{{ app.user.email }}{% endblock %} | Déwi Dierick - Développeur web mobile</title>
   {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
   {% endblock %}
</head>
<body>

{% for label, messages in app.flashes %}
   {% for message in messages %}
      <div role="alert" aria-live="assertive" aria-atomic="true" class="toast {{ label }}" id="toast">
         <div class="toast-header">
            <strong class="me-auto">{{ label }}</strong>
         </div>
         <div class="toast-body">{{ message }}</div>
      </div>
   {% endfor %}
{% endfor %}
<div class="main">
   {% include 'parts/_menu.html.twig' %}
   {% block body %} {% endblock %}
   {% include 'parts/_footer.html.twig' %}
   {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
   {% endblock %}
</div>
</body>
</html>
