<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport"
         content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{% block title %}{{ app.user.username }}{% endblock %} | Admin</title>
   <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
   <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
   {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
      {{ encore_entry_link_tags('admin') }}
   {% endblock %}
</head>
<body>
<div class="main">


   {% for label, messages in app.flashes %}
      {% for message in messages %}
         <div role="alert" aria-live="assertive" aria-atomic="true" class="toast {{ label }}">
            <div class="toast-header">
               <strong class="me-auto">{{ label }}</strong>
            </div>
            <div class="toast-body">{{ message }}</div>
         </div>
      {% endfor %}
   {% endfor %}


   {% include 'parts/_menu.admin.html.twig' %}
   {% block body %}{% endblock %}
   {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
   {% endblock %}
   <script src="https://kit.fontawesome.com/bfe9f51c30.js" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</div>
</body>
</html>
