{{ form_start(form) }}

<div class="edit">
   <div class="mt-4 text-end">
      <a class="btn btn-sm btn-outline-danger" href="{{ path('technology_index') }}">Annuler</a>
      <button class="btn btn-sm btn-outline-primary">{{ button_label|default('Créer la technologie') }}</button>
   </div>
   <div class="row my-4">
      {{ form_label(form.name, null, {'label': 'Nom','label_attr': {'class': 'label col-12 col-md-2'} }) }}
      {{ form_widget(form.name, {'attr': {'class': 'form-inline col-12 col-md-4 py-1 p-md-auto'} }) }}
      <small class="error-form offset-md-2">{{ form_errors(form.name) }}</small>
   </div>
   <div class="row my-4">
      {{ form_label(form.image, null, {'label': 'Image','label_attr': {'class': 'label col-12 col-md-2'} }) }}
      {{ form_widget(form.image, {'attr': {'class': 'form-inline col-12 col-md-4'} }) }}
      <small class="error-form offset-md-2">{{ form_errors(form.image) }}</small>
      <div class="form-inline offset-md-2">
         <a class="btn btn-sm no-shadow" href="{{ path('images_new') }}" title="Ajouter une nouvelle image">Nouvelle
            image</a>
      </div>
   </div>
   <div class="row my-4">
      {{ form_label(form.category, null, {'label': 'Catégorie','label_attr': {'class': 'label col-12 col-md-2'} }) }}
      {{ form_widget(form.category, {'attr': {'class': 'form-inline col-12 col-md-4'} }) }}
      <small class="error-form offset-md-2">{{ form_errors(form.category) }}</small>
      <div class="form-inline offset-md-2">
         <a class="btn btn-sm no-shadow" href="{{ path('categories_new') }}" title="Ajouter une nouvelle catégorie">Nouvelle
            catégorie</a>
      </div>
   </div>
</div>

{{ form_end(form) }}
