{% extends 'admin/admin.html.twig' %}

{% block title 'Editer une technologie' %}
{% set class = 'technologies' %}

{% block content %}
    <h1>Editer une technologie</h1>

    {{ include('admin/technology/_form.html.twig', {'button_label': 'Mettre la jour la technologie'}) }}

{% endblock %}
