{% extends 'admin/admin.html.twig' %}

{% block title 'Liste des technologies' %}
{% set class = 'technologies' %}

{% block content %}
   <h1>Technologies</h1>

   <div class="my-4 text-end">
      <a class="btn btn-sm btn-outline-primary" href="{{ path('technology_new') }}">Ajouter une technologie</a>
   </div>

   {{ form_start(form) }}
   <div class="row my-3 search">
      <div class="input-group mb-3">
         {{ form_row(form.searchField) }}
         <button class="btn btn-sm btn-search" type="submit"><i class="fa fa-search"></i></button>
         {% if search %}
            <a class="btn btn-sm btn-clear" href="{{ path('technology_index') }}" title="supprimer le filtre"><i
                   class="fas fa-broom"></i></a>
         {% endif %}
      </div>
      {% if search %}
         <p>{{ technologies |length }} résultat{{ technologies |length > 1 ? 's' : '' }}
            trouvé{{ technologies |length > 1 ? 's' : '' }} </p>
      {% endif %}
   </div>
   {{ form_end(form) }}

   <table class="table">
      <thead>
      <tr>
         <th>Icône</th>
         <th>Nom</th>
         <th>Catégorie</th>
         <th>actions</th>
      </tr>
      </thead>
      <tbody>
      {% for technology in technologies %}
         <tr>
            <td><img class="img-preview" src="{{ vich_uploader_asset(technology.image, 'imageFile') }}"
                     alt="{{ technology.name }}"></td>
            <td>{{ technology.name }}</td>
            <td>{{ technology.category.name }}</td>
            <td class="action">
               <a class="btn btn-sm no-shadow"
                  href="{{ path('technology_edit', {'id': technology.id}) }}" title="Editer la technologie">
                  <i class="fas fa-pen-fancy"></i>
               </a>
               {% include 'admin/technology/_delete_form.html.twig' with {'class': 'no-border'} %}
            </td>
         </tr>
      {% else %}
         <tr>
            <td colspan="4">Aucun enregistrement trouvé</td>
         </tr>
      {% endfor %}
      </tbody>
   </table>

   <div class="navigation">
      {{ knp_pagination_render(technologies) }}
   </div>
{% endblock %}
