{% extends 'admin/admin.html.twig' %}

{% block title 'Ajouter une technologie' %}
{% set class = 'technologies' %}

{% block content %}
   <h1>Créer une technologie</h1>

   {{ include('admin/technology/_form.html.twig') }}

{% endblock %}
