{% extends 'base.html.twig' %}

{% block title %}Technologie{% endblock %}

{% block body %}
    <h1>Technologie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ technology.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ technology.name }}</td>
            </tr>
            <tr>
                <th>Icon</th>
                <td>{{ technology.icon }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('technology_index') }}">back to list</a>

    <a href="{{ path('technology_edit', {'id': technology.id}) }}">edit</a>

    {{ include('admin/technology/_delete_form.html.twig') }}
{% endblock %}
