.navbar-mobile-bottom {
  position         : fixed;
  left             : 0;
  right            : 0;
  bottom           : 0;
  z-index          : 100000;
  padding-bottom   : $space1;
  background-color : $snowColor;
  transform        : translateY(90%);
  transition       : all .3s ease;

  &.open-menu {
    transform: translateY(0);
  }

  .nav-menu {
    background-color : $primaryColor;
    color            : $greyColor;
    display          : flex;
    justify-content  : space-around;
    box-shadow       : 0 0 8px $darkColor;

    span {
      padding-left  : $space1;
      padding-right : $space1;
    }

    a {
      display : inline-block;
      height  : 100%;
      padding : $space1;
    }

    .fas {
      font-size : $fontSizeLarge;
    }
  }

  .menu-target {
    padding         : 0;
    margin          : 0;
    list-style-type : none;

    .item-menu {

      a {
        display       : inline-block;
        width         : 100%;
        padding       : $space1 $space2;
        border-bottom : $border;
        color         : $darkColor;
      }

      &.disconnect {
        text-align : center;
        margin     : $space1;

        a {
          padding       : $space1 / 2 $space1;
          border-radius : 5px;
          width         : auto;
          margin        : auto;
          border        : 1px solid $primaryColor;

          .fas {
            color : $primaryColor;
          }
        }
      }
    }
  }
}
