nav.navbar, .navbar-nav .dropdown-menu {
  background-color : $primaryColor;

  .dropdown-item {
    color           : $snowColor;
    display         : flex;
    justify-content : space-between;
    align-items     : center;

    &:hover {
      background-color : $secondaryColor;
      color            : $primaryColor;
    }
  }

  .navbar-brand, &.navbar-expand-lg .navbar-nav .nav-link {
    color : $snowColor;
  }
}
