.aside {
  flex             : none;
  width            : 90px;
  margin-right     : $space1;
  color            : $greyColor;
  background-color : $primaryColor;

  .menu-column {
    margin  : 0;
    padding : $space2 0;

    .menu-column-item {
      list-style-type : none;
      padding         : 1rem 0;

      a {
        display        : flex;
        flex-direction : column;
        text-align     : center;
        font-size      : $fontSizeXSmall;
      }

      &.active {
        background-color : $secondaryColor;
        font-weight      : bold;
        color            : $darkColor;
        margin-left      : 1rem;
        border-radius    : 8px 0 0 8px;
        a {
          color : $primaryColor;
        }
      }

      i {
        font-size : $space1-5;
      }
    }
  }
}
