{% set route = route | default(null) %}

<div class="col">
   {% if route is not null %}
   <a href="{{ path(route) }}" title="{{ title }}">
      {% endif %}
      <div class="card border-primary mb-3">
         <div class="card-header">{{ title }}</div>
         <div class="card-body text-primary">
            <p class="card-text h5">{{ content }}</p>
         </div>
      </div>
      {% if route is not null %}
   </a>
   {% endif %}
</div>
