<footer class="footer">
   <div class="container">
      <div class="social">
         <p>
         <h5>{{ information.lastname }} {{ information.firstname }}</h5>
         {{ information.job }}<br/>
         {{ information.postalCode }} {{ information.city }}<br/>
         {{ information.phone }}
         </p>
      </div>
      <div class="social">
         {% for social in socials %}
            <a href="https://{{ social.link }}" class="social-link" target="_blank" title="{{ social.name }}">
               <img src="{{ vich_uploader_asset(social.image, 'imageFile') }}" alt="{{ social.name }}">
            </a>
         {% endfor %}
      </div>
   </div>
</footer>
