<nav class="navbar-mobile-bottom d-md-none">
   <div class="nav-menu">
      <span><a href="{{ path('admin') }}" title="Accueil admin"><i class="fas fa-home"></i></a></span>
      <span><a class="target-menu" href="" title="Dérouler le menu"><i class="fas fa-bars"></i></a></span>
      <span><a href="{{ path('home') }}" title="Retour au site public"><i class="fas fa-globe"></i></a></span>
   </div>
   <ul class="menu-target">
      <li class="item-menu"><a href="{{ path('information_index') }}" title="Mon compte">
            <i class="fas fa-user me-2"></i>Mon compte</a>
      </li>
      <li class="item-menu"><a href="" title="Formations">
            <i class="fas fa-graduation-cap me-2"></i>Formations</a>
      </li>
      <li class="item-menu"><a href="" title="Expériences">
            <i class="fas fa-briefcase me-2"></i>Expériences</a>
      </li>
      <li class="item-menu"><a href="{{ path('technology_index') }}" title="Technologies">
            <i class="fas fa-microchip me-2"></i>Technologies</a>
      </li>
      <li class="item-menu"><a href="{{ path('images_index') }}" title="Imagethèque">
            <i class="fas fa-image me-2"></i>Imagethèque</a>
      </li>
      <li class="item-menu"><a href="{{ path('social_index') }}" title="Réseaux">
            <i class="fas fa-comments me-2"></i>Réseaux</a>
      </li>
      <li class="item-menu"><a href="{{ path('project_index') }}" title="Projets">
            <i class="fas fa-project-diagram me-2"></i>Projets</a>
      </li>
      <li class="item-menu disconnect" title="Se déconnecter">
         <a href="{{ path('app_logout') }}" title="Se déconnecter">
            <i class="fas fa-power-off"></i>
            Déconnecter
         </a>
      </li>
   </ul>
</nav>
