<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5" id="nav-public">
   <div class="container">
      <a class="navbar-brand" id="brand" href="/">Déwi Dierick</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
         <ul class="navbar-nav ms-auto">
            <li class="nav-item">
               <a class="nav-link" href="{{ path('project_list') }}">Réalisations</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{{ path('contact') }}">Me contacter</a>
            </li>
            {% if app.user %}
               <li class="nav-item admin">
                  <a class="nav-link" href="{{ path('admin') }}">Administration</a>
               </li>
            {% endif %}
         </ul>
      </div>
   </div>
</nav>
