<aside class="aside d-none d-md-block">
   <nav>
      <ul class="menu-column">
         <li class="menu-column-item {{ class == 'dashboard' ? 'active' : '' }}">
            <a href="{{ path('admin') }}"><i class="fas fa-home"></i>Dashboard</a>
         </li>
         <li class="menu-column-item {{ class == 'account' ? 'active' : '' }}">
            <a href="{{ path('information_index') }}"><i class="fas fa-user"></i>Mon compte</a>
         </li>
         <li class="menu-column-item {{ class == 'training' ? 'active' : '' }}">
            <a href="#"><i class="fas fa-graduation-cap"></i>Formations</a>
         </li>
         <li class="menu-column-item {{ class == 'experience' ? 'active' : '' }}">
            <a href="#"><i class="fas fa-briefcase"></i>Expériences</a>
         </li>
         <li class="menu-column-item {{ class == 'technologies' ? 'active' : '' }}">
            <a href="{{ path('technology_index') }}"><i class="fas fa-microchip"></i>Technologies</a>
         </li>
         <li class="menu-column-item {{ class == 'image' ? 'active' : '' }}">
            <a href="{{ path('images_index') }}"><i class="fas fa-image"></i>Imagethèque</a>
         </li>
         <li class="menu-column-item {{ class == 'reseau' ? 'active' : '' }}">
            <a href="{{ path('social_index') }}"><i class="fas fa-comments"></i>Réseaux</a>
         </li>
         <li class="menu-column-item {{ class == 'project' ? 'active' : '' }}">
            <a href="{{ path('project_index') }}"><i class="fas fa-project-diagram"></i>Projets</a>
         </li>
         <li class="menu-column-item {{ class == 'skill' ? 'active' : '' }}">
            <a href="{{ path('categories_index') }}"><i class="fas fa-tags"></i>Catégories</a>
         </li>
      </ul>
   </nav>
</aside>
