<nav class="navbar navbar-expand-lg">
   <div class="container">
      <a class="navbar-brand" href="/">Déwi Dierick</a>
      <div class="collapse navbar-collapse">
         <ul class="navbar-nav ms-auto mb-lg-0">
            <a class="nav-link" href="{{ path('app_logout') }}"><span class="mx-2"><i class="mr-2 fas fa-power-off"></i></span>Déconnexion</a>
         </ul>
      </div>
   </div>
</nav>
